*{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}

header{
    background-color: rgb(14, 13, 13);
    justify-content: space-between;   
    height: 80px;
    position: sticky;
    top: 0;
  }

body{
    background-color: rgb(0, 0, 0);
    height: 1000px;
}

#area-cabecalho{
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
}


.logo{
    position: absolute;
    top: 13px;
    padding-left: 60px;
}

.logo span{
    font-size: 45px;
}

.logo a{
    color: rgb(221, 66, 213);
}

.branco{
    color: white;
}

.menu{
    position: absolute;
    top: 30px;
    right: 40px;
}
.menu a{
    background-color: rgb(141, 8, 153);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;
}

.menu a:hover{
    background-color: rgb(98, 0, 255);  
}

.main{
    background-image: url(../img/22135.jpg);
    padding-bottom: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
}

.nav-superior{
    border-bottom: 2px solid rgb(200, 200, 200);
    width: 40px auto;
    padding: 10px;
    padding-top: 10px;
    background-color: rgb(141, 8, 153);
    text-align: center;
}

.nav-superior li{
    display: inline;
    list-style: none;
}

.nav-superior ul{
    margin: 7px;
}

.nav-superior a{
    color: white;
    font-size: 18px;
    padding: 7px;
    margin: 10px;
}

.nav-superior a:hover{
    background-color: rgb(98, 0, 255);
    border-radius: 9px;
}

.direitos{   
    background-color: black;
    padding-top: 80px;
}

.direitos p{
    color: rgb(255, 255, 255);
    text-align: center;
}

.foto{
    /* background-color: rgb(255, 0, 255); */
    height: 380px;
    width: 390px;
    margin: 40px;
    float: left;  
    border-radius: 50%;  
}

img{
    width: 120%;
}

.conteudo{
    height: 500px;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    color: white;
}

.conteudo h1{
    color: white;
    font-size: 75px;
    padding-top: 140px;
}

.conteudo p{
    font-size: 20px;
}


